h1 {
  color: #00b0ff;
  font-size: 36px;
  position: relative;
  margin-top: 50px;
}
header {
  position: relative;
  top: 30%;
  left: 47.5%;
}
form {
  position: absolute;
  left: 476px;
  width: 328px;
  height: 45px;
}
input {
  width: 328px;
  height: 45px;
  background-color: rgb(170, 169, 183, 0.2);
  border-width: 0px;
  padding-left: 20px;
  border-radius: 25px;
}
button {
  cursor: pointer;
}
p#todo {
  position: absolute;
  left: 49%;
  top: 35%;
  font-size: 22px;
}
p#done {
  position: absolute;
  left: 49%;
  top: 45%;
  font-size: 22px;
}
button {
  position: absolute;
  top: 6px;
  left: 300px;
  font-size: 40px;
  width: 10%;
  height: 70%;
  text-align: center;
  padding: 0%;
  float: right;
  background-color: red;
  z-index: 1;
}
input#btn_:hover {
  cursor: pointer;
}
